<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
</head>
<body>
<!-- Navigation -->
<form action="/logout">
    <nav class="navbar navbar-expand-lg navbar-light shadow fixed-top">
        <div class="container" id="head">
            <p class="navbar-brand" id="text">Intune Health</p>
        </div>
        <a href="/profile/{{user.id}}"><img src="static/images/icon.png" alt="profile" id="profile"></a> 
        <button type="submit" class="btn btn-dark" id="signout">Sign Out</button>
    </nav>
</form>
<header class="masthead">
<div id="food">
    <div id="top">
        <a href='/add/meal/{{user.id}}'><img src="static/images/plus.png" alt="plus" id="plus"></a>
        <h1 id="meal">Meal Tracker</h1>
        <hr id="line">
        <div id="names">
            <h5 id="a">Meal Name</h5>          
            <h5 id="b">Calories</h5>
            <h5 id="c">Protein(g)</h5>
            <h5 id="d">Time</h5>
            <h5 id="e">Date</h5>
        </div>
        <hr id="line5">
    </div>
    <div id="containmeal">
        {%  for meal in meals %}
        <div class="mealbox">
            <table>
                <tbody>
                    <tr id="row">
                        <td><p id="one">{{ meal.meal_name }}</p></td>
                        <td><p id="two">{{ meal.calories }}</p></td>
                        <td><p id="three">{{ meal.protein }}</p></td>
                        <td><p id="four">{{ meal.notes }}</p></td>
                        <td><p id="five">{{ meal.meal_date.strftime('%Y-%m-%d')}}</p></td>
                        <a href="/delete/{{meal.id}}"><img src="/static/images/x2.png" alt="x" id="x"></a>
                        </tr>
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>
</div>
<div id="fitness">
    <div id="top1">
        <a href='/add/workout/{{user.id}}'><img src="static/images/plus.png" alt="plus" id="plus2"></a>
        <h1 id="fitnesstext">Fitness Log</h1>
        <hr id="line2">
        <div id="fitnessname">
            <h5 id="workout">Workout Type</h5>          
            <h5 id="duration">Duration</h5>
            <h5 id="calorie">Calories Burned</h5>
            <h5 id="date">Date</h5>
            <h5 id="time">Time</h5>
        </div>
        <hr id="line5">
    </div>
    <div id="fitnessbox">
        {%  for workout in workouts %}
        <div id="fit">
        <table>
            <tbody >
                <tr>
                    <td><p id="work1">{{ workout.workout_name }}</p></td>
                    <td><p id="time1">{{ workout.time_lasted }}</p></td>
                    <td><p id="calorie1">{{ workout.calorie_count }}</p></td>
                    <td><p id="date1">{{ workout.date.strftime('%Y-%m-%d') }}</p></td>
                    <td><p id="note1">{{ workout.notes }}</p></td>
                    <a href="/delete/workout/{{workout.id}}"><img src="/static/images/x2.png" alt="x" id="x"></a>
                </tr>
            </tbody>
        </table>
        </div>
        {% endfor %}
    </div>
</div>
<div id="vitamins">
    <div id="top2">
        <a href='/add/vitamin/{{user.id}}'><img src="static/images/plus.png" alt="plus" id="plus2"></a>
        <h1 id="vitaminss">Vitamins</h1>
        <hr id="line3">
        <div id="fitnessname">
            <h5 id="vitamin1">Vitamin Name</h5>          
            <h5 id="dose">Dosage</h5>
        </div>
        <hr id="line5">
    </div>
    <div id="vitaminbox">
        {% for vitamin in vitamins %}
        <div id="first">
            <table>
                <tbody >
                    <tr>
                        <td><p id="vitamin_name">{{ vitamin.vitamin_name }}</p></td>
                        <td><p id="dosage">{{ vitamin.dosage }}</p></td>
                        <a href="/delete/vitamin/{{vitamin.id}}"><img src="/static/images/x2.png" alt="x" id="x"></a>
                    </tr>
                </tbody>
            </table>
            </div>
        {% endfor %}
    </div>
</div>
<div id="sleep">
    <div id="top3">
        <a href='/add/sleep/{{user.id}}'><img src="static/images/plus.png" alt="plus" id="plus2"></a>
        <h1 id="sleeptext">Sleep Report</h1>
        <hr id="line3">
        <div id="fitnessname">
            <h5 id="sleep1">Time</h5>          
            <h5 id="sleep2">Deep Sleep</h5>
            <h5 id="sleep3">HR</h5>
            <h5 id="sleep4">Date</h5>
        </div>
        <hr id="line5">
    </div>
    <div id="sleepbox">
        {% for sleep in sleeps %}
        <div id="second">
            <table>
                <tbody >
                    <tr>
                        <td><p id="sleep5">{{ sleep.sleep_time }}</p></td>
                        <td><p id="sleep6">{{ sleep.deep_sleep}}</p></td>
                        <td><p id="sleep7">{{ sleep.heart_rate}}</p></td>
                        <td><p id="sleep8">{{ sleep.date.strftime('%m-%d')}}</p></td>
                        <a href="/delete/sleep/{{sleep.id}}"><img src="/static/images/x2.png" alt="x" id="x"></a>
                    </tr>
                </tbody>
            </table>
            </div>
        {% endfor %}
    </div>
</div>
    </div>
</div>
</header>
</body>
</html>