<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light py-3">
            <div class="container">
                <!-- Navbar Brand -->
                <a href="#" class="navbar-brand">
                    <!-- <img src="https://bootstrapious.com/i/snippets/sn-registeration/logo.svg" alt="logo" width="150"> -->
                </a>
            </div>
        </nav>
    </header>
<form action="/register/user" method="post">
    <div class="container">
        <div class="row py-5 mt-4 align-items-center">
            <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
                <img src="https://bootstrapious.com/i/snippets/sn-registeration/illustration.svg" alt="" class="img-fluid mb-3 d-none d-md-block">
                <h1 id="header">Intune Health</h1>
                <p class="font-italic text-muted" id="created">Created By <strong>Zach Gleason</strong> </p>
            </div>
            <div class="col-md-7 col-lg-6 ml-auto">
                    <div class="row">
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-user text-muted"></i>
                                </span>
                            </div>
                            <input id="firstName" type="text" name="first_name" placeholder="First Name" class="form-control bg-white border-left-0 border-md">
                        </div>
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-user text-muted"></i>
                                </span>
                            </div>
                            <input id="lastName" type="text" name="last_name" placeholder="Last Name" class="form-control bg-white border-left-0 border-md">
                        </div>
                        <div class="input-group col-lg-12 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-envelope text-muted"></i>
                                </span>
                            </div>
                            <input id="email" type="email" name="email" placeholder="Email Address" class="form-control bg-white border-left-0 border-md">
                        </div>
                        <div class="input-group col-lg-12 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-envelope text-muted"></i>
                                </span>
                            </div>
                            <input id="password" type="password" name="password" placeholder="Password" class="form-control bg-white border-left-0 border-md">
                        </div>
                        <div class="input-group col-lg-12 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-black-tie text-muted"></i>
                                </span>
                            </div>
                            <select id="gender" name="gender" class="form-control custom-select bg-white border-left-0 border-md">
                                <option value="Gender">Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="N/A">Prefer To Not say</option>
                                <option value="N/A">Other</option>
                            </select>
                        </div>
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-lock text-muted"></i>
                                </span>
                            </div>
                            <input id="age" type="number" name="age" placeholder="Age" class="form-control bg-white border-left-0 border-md">
                        </div>
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-lock text-muted"></i>
                                </span>
                            </div>
                            <select id="Height" name="Height" class="form-control custom-select bg-white border-left-0 border-md">
                                <option value="Height">Height</option>
                                <option value="5'0">5'0</option>
                                <option value="5'0">5'1</option>
                                <option value="5'0">5'2</option>
                                <option value="5'0">5'3</option>
                                <option value="5'0">5'4</option>
                                <option value="5'0">5'5</option>
                                <option value="5'0">5'6</option>
                                <option value="5'0">5'7</option>
                                <option value="5'0">5'8</option>
                                <option value="5'0">5'9</option>
                                <option value="5'0">5'10</option>
                                <option value="5'0">5'11</option>
                                <option value="5'0">6'0</option>
                                <option value="5'0">6'1</option>
                                <option value="5'0">6'2</option>
                                <option value="5'0">6'3</option>
                                <option value="5'0">6'4</option>
                                <option value="5'0">6'5</option>
                            </select>
                        </div>
                        <div class="input-group col-lg-12 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-envelope text-muted"></i>
                                </span>
                            </div>
                            <input id="weight" type="number" name="weight" placeholder="Weight(lbs)" class="form-control bg-white border-left-0 border-md">
                        </div>
                        <div class="input-group col-lg-12 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-envelope text-muted"></i>
                                </span>
                            </div>
                            <input id="location" type="text" name="location" placeholder="Location" class="form-control bg-white border-left-0 border-md">
                        </div>
                        <div class="form-group col-lg-12 mx-auto mb-0">
                            <!-- <a href="/register/user" class="btn btn-primary btn-block py-2"> -->
                                <button type="submit" class="font-weight-bold bg-dark" id="button">Create your account</button>
                            <!-- </a> -->
                        </div>
                        <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                            <div class="border-bottom w-100 ml-5"></div>
                            <span class="px-2 small text-muted font-weight-bold text-muted">OR</span>
                            <div class="border-bottom w-100 mr-5"></div>
                        </div>
                        <div class="text-center w-100">
                            <p class="text-muted font-weight-bold" id="slide">Already Registered? <a href="/login" class="text-dark ml-2" method="post">Login</a></p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>