#signin {
    margin-right: 400px;
}

#text {
    margin-left: 300px;
}

#box {
    height: 400px;
    width: 1000px;
    margin: auto;
    margin-top: 100px;
}

#food {
    margin-left: 600px;
}

#text2 {
    color: solid black;
    font-size: 35px;
}

