@viewport {
    width: device-width ;
    zoom: 1.0 ;
}

#header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 75px;
    color: rgb(0, 0, 0);
}

#created {
    margin-left: 90px;
}

#slide {
    margin-left: px;
}

#left {

}

#button {
    width: 540px;
    height: 50px;
    color: white;
    border: none;
}

#button2 {
    width: 540px;
    height: 50px;
    color: white;
    border: none;
}

