@viewport {
    width: device-width ;
    zoom: 1.0 ;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#head {
    margin-right: 780px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 10px;
}

#signout {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-right: 30px;
}

#text {
    font-size: 30px;
    margin-left: 20px;
}

#food {
    height: 800px;
    width: 700px;
    position: absolute;
    display: flex;
    margin-top: 100px;
    margin-left: 50px;
    background-color: rgb(59, 59, 59);
    border-radius: 20px;
}

#fitness {
    height: 400px;
    width: 950px;
    position: absolute;
    display: flex;
    margin-top: 100px;
    margin-left: 800px;
    background-color: rgb(59, 59, 59);
    border-radius: 20px;
}

#profile {
    height: 45px;
    margin-right: 20px;
}

#vitamins {
    height: 350px;
    width: 450px;
    position: absolute;
    display: flex;
    margin-top: 550px;
    margin-left: 800px;
    background-color: rgb(59, 59, 59);
    border-radius: 20px;
}

#sleep {
    height: 350px;
    width: 450px;
    position: absolute;
    display: flex;
    margin-top: 550px;
    margin-left: 1300px;
    background-color: rgb(59, 59, 59);
    border-radius: 20px;
}

#top {
    text-align: center;
    height: 30px;
    width: 700px;
    color: rgb(233, 232, 232);
}

#meal {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    font-size: 30px;
    margin-top: 5px;
}


#line, #line2, #line3, #line4 {
    background-color: white;
    margin-top: -5px;
}

#line5 {
    background-color: white;
    bottom: -100px;

}
#names {
    height: 10px;
    display: flex;
    justify-content: space-evenly;
}

#fitnesstext {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    font-size: 30px;
    margin-top: 5px;
}

#top1 {
    color: rgb(233, 232, 232);
    height: 50px;
    width: 950px;
    text-align: center;
}

#top2{
    color: rgb(233, 232, 232);
    height: 50px;
    width: 450px;
    text-align: center;
}

#top3{
    color: rgb(233, 232, 232);
    height: 50px;
    width: 450px;
    text-align: center;
}

#vitaminss{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 3px;
    font-size: 30px;
    margin-top: 5px;
}

#sleeptext {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    font-size: 30px;
    margin-top: 5px;
}


.mealbox {
    height: 40px;
    width: 650px;
    background-color: rgb(226, 220, 211);
    border-radius: 30px;
    margin-top: 5px;
}

#containmeal {
    height: 710px;
    width: 650px;
    margin-left: 25px;
    margin-top: 100px;
    position: absolute;
    /* display: flex; */
}

#plus {
    height: 40px;
    position: absolute;
    left: 10px;
}

#one {
    margin-left: 50px;
}

#five {
    margin-left: 60px;
}

#four {
    margin-left: 70px;
}


#two {
    margin-left: 60px;
}

#three {
    margin-left: 80px;
}

#seven {
    position: absolute;
    display: flex;
    margin-left: 150px;
}

#a {
    font-size: 18px;
    position: absolute;
    margin-right: 500px;
}

#b {
    font-size: 18px;
    position: absolute;
    margin-right: 260px;
}

#c {
    font-size: 18px;
    position: absolute;
    margin-right: 50px;
}

#d {
    font-size: 18px;
    position: absolute;
    margin-left: 160px;
}

#e {
    font-size: 18px;
    position: absolute;
    margin-left: 400px;
}


#x {
    height: 15px;
    width: 15px;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

#plus2 {
    position: absolute;
    display: flex;
    margin-left: 10px;
    height: 40px;
}

#fitnessname {
    height: 10px;
    display: flex;
    justify-content: space-evenly;
}

#fit {
    height: 40px;
    width: 900px;
    background-color: rgb(226, 220, 211);
    border-radius: 30px;
    margin-top: 5px;
}

#fitnessbox {
    height: 710px;
    width: 900px;
    margin-left: 25px;
    margin-top: 100px;
    position: absolute;
    /* display: flex; */
}

#work1 {
    position: absolute;
    margin-left: 70px;
}

#time1 {
    position: absolute;
    margin-left: 280px;
}

#calorie1{
    position: absolute;
    margin-left: 490px;
}

#date1 {
    position: absolute;
    margin-left: 640px;
}

#note1 {
    position: absolute;
    margin-left: 780px;
}

#first{
    height: 40px;
    width: 400px;
    background-color: rgb(226, 220, 211);
    border-radius: 30px;
    margin-top: 5px;
}

#vitaminbox {
    height: 510px;
    width: 400px;
    margin-left: 25px;
    margin-top: 100px;
    position: absolute;
    /* display: flex; */
}

#vitamin_name{
    position: absolute;
    margin-left: 60px;
}

#dosage{
    position: absolute;
    margin-left: 270px;
}